<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070712181091-2k46jcvne62v2rdgf910tiinnqpnbhtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070712181091-2k46jcvne62v2rdgf910tiinnqpnbhtj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070712181091-8ejm3hm1ot6t5lvaqjoidne9a7h3heui.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOrmt1nA0nbAW-BjN5-gG5zwDgf-licfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1070712181091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDesktop</string>
	<key>PROJECT_ID</key>
	<string>todo-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070712181091:ios:64fd48b05c2bcd20a08356</string>
	<key>DATABASE_URL</key>
	<string>https://todo-flutter-project.firebaseio.com</string>
</dict>
</plist>